body{
    font-family: 'Roboto', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    background-image: url('body_background.jpg');
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.heading{
    margin-top: 2%;
}

h1{
    text-align: center;
    margin: 0;
}

h2{
    font-size: 16pt;
}

.bigElement{
    margin-bottom: 4pt;
    background-color: white;
    padding: 15pt;
    border-style: solid;
    border: 0;
    box-shadow: 0 4px 2px -2px gray;
    border-radius: 4pt;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 7px 5px 0 0;
    overflow: hidden;
}

.table thead tr{
    text-align: left;
    background-color: rgb(33, 103, 182);
}

.table th,
.table td {
    padding: 12px 15px;
}

.table_bezeichnung{
    width: 75%;
}

.table tr:hover{
    background-color: lightgray;
}


.input {
    width: 70%;
    margin-left: 5%;
    border: 0;
    border-bottom: 2px solid;
    border-color: rgb(33, 103, 182);
    outline: 0;
    font-size: 1.3rem;
    color: rgb(131, 131, 131);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.btnAdd{
    width: 5%;
    font-size: 20pt;
    border: 0;
    background-color: white;
    cursor: pointer;
    padding: 0;
    color: rgb(33, 103, 182);
}

.checked {
    text-decoration: line-through;
}

#itemQnty {
    width: 60px;
}

.textItem {
    width: 250px;
}

img{
    padding-left: 20px;
}